<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand">
      <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/restaurants">List</a>
      <a class="nav-item nav-link" href="/restaurants/new">Create</a>
    </div>
    </nav>
      <%= yield %>
    </div>
  </body>
</html>
